@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root{
    --Soft-Blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Main-BG: hsl(217, 54%, 11%);
    --Card-BG: hsl(216, 50%, 16%);
    --Line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
    --Paragraph: 18px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.attribution {
    width: 100%;
    font-size: 11px;
    text-align: center;
    position: absolute;
    bottom: 10px;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'Outfit', sans-serif;
    background-color: var(--Main-BG);
}

header {
    width: 100%;
    height: 90%;
    display: grid;
    place-items: center;

}

header #card{
    width: 300px;
    max-width: 300px;
    height: 520px;
    background-color: var(--Card-BG);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

header #card #nft-image {
    width: 85%;
    max-width: 300px;
    height: 300px;
    margin: 20px auto;
    border-radius: 15px;
}

header #card #nft-image img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

header #card #nft {
    width: 85%;
    max-width: 300px;
    margin: 0 auto;
}

header #card #nft h1 {
    font-size: 1.3em;
    font-weight: 600;
    color: var(--White);
    margin-bottom: 10px;
}

header #card #nft p{
    font-size: .85em;
    color: var(--Soft-Blue);
    font-weight: 400;
}

header #card #nft #nft-value{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

header #card #nft #nft-value #value, #days{
    width: 35%;
    display: flex;
    justify-content: space-between;
}

header #card #nft #nft-value img{
    margin-right: 5px;
}

hr {
    border-color: var(--Soft-Blue);
}

header #card #nft #user {
    height: 50px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

header #card #nft #user #user-img{
    margin: 5px 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--White);
}

header #card #nft #user #user-img img{
    width: 100%;
    height: 100%;
}

header #card #nft #user #user-name{
    margin: 20px 10px;
    width: 170px;
    height: 30px;
}

header #card #nft #user #user-name span{
    color: var(--White);
}